Package              Version            
-------------------- -------------------
absl-py              0.9.0              
astor                0.8.0              
astroid              2.2.5              
autopep8             1.4.4              
certifi              2019.6.16          
cmake                3.17.2             
colorama             0.4.1              
cycler               0.10.0             
dlib                 19.19.0            
gast                 0.3.3              
grpcio               1.27.2             
h5py                 2.10.0             
imutils              0.5.3              
isort                4.3.21             
Keras-Applications   1.0.8              
Keras-Preprocessing  1.1.0              
kiwisolver           1.2.0              
lazy-object-proxy    1.4.2              
Markdown             3.1.1              
matplotlib           3.2.1              
mccabe               0.6.1              
mkl-fft              1.0.15             
mkl-random           1.1.0              
mkl-service          2.3.0              
numpy                1.18.1             
object-detection     0.1                
opencv-python        4.2.0.34           
Pillow               7.1.2              
pip                  20.0.2             
pipenv               2018.11.26         
protobuf             3.11.4             
pycodestyle          2.5.0              
pylint               2.3.1              
pyparsing            2.4.7              
pyreadline           2.1                
python-dateutil      2.8.1              
scipy                1.4.1              
setuptools           46.4.0.post20200518
six                  1.14.0             
tensorboard          1.14.0             
tensorflow           1.14.0             
tensorflow-estimator 1.14.0             
termcolor            1.1.0              
typed-ast            1.4.0              
virtualenv           16.7.4             
virtualenv-clone     0.5.3              
Werkzeug             1.0.1              
wheel                0.34.2             
wincertstore         0.2                
wrapt                1.12.1             
